canvas {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%
}

body{
  margin: 5;
}

.outer{
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border-radius: 5px;
  width: 50%;
  font-family: 'Roboto';
  line-height: 1.8;
  letter-spacing: -.4px;
  color: black;
  background: #E9DCCD;
}
.canvasandcontrols{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.left{
  display: flex;
}

h1{
  text-align: center;
}

.controls{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 5px;
  font-family: 'Roboto';
  line-height: 1.8;
  letter-spacing: -.4px;
      color: black;
}

.leftkey{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-family: sans-serif;
}

.rightkey{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-family: sans-serif;
}

.space{
  font-weight: 700;
  font-family: sans-serif;
}

.key{
  font-weight: bold;
  margin-right: 20px;
  border: 1px solid #F45F4E;
  background: #F45F4E;
  height: 20%;
  color: black;
  border-radius: 5px;
}

.controls h3{
  text-align: center;
}

.spacebar{
  border: 1px solid #F45F4E;
  background: #F45F4E;
  height: 20%;
  color: black;
  margin-right: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: 700;
}

.spaceouter{
  display: flex;
  justify-content: space-between;
}


#github img{
  width: 30px;
  height: 30px;
  padding-right: 20px;

}

#linkedin img{
  width: 30px;
  height: 30px;
}

.links{
  display: flex;

}
